body{
    background-color: gray;
    width: 800px;
    margin: 0 auto;
}
main{
    background-color: green;
    width: 50%;
    height: 400px;
    float: left;
}
section{
    width: 25%;
    float: left;
}
header{
    background-color: yellow;
    height: 150px;
}
article{
    background-color: blue;
    height: 250px;
}
aside{
    background-color: yellow;
    height: 150px;
}
nav{
    background-color: red;
    height: 100px;
    clear: both;
}
#stopkalewa{
    background-color: green;
    width: 70%;
    height: 100px;
    font-size: 24px;
    text-align: center;
    float: left;
}
#stopkaprawa{
    background-color: white;
    width: 30%;
    height: 100px;
    float: left;
}
