*{
    font-family: sans-serif;
    text-align: center;
}
header, footer{
    background-color: indigo;
    color: white;
    font-style: italic;
    padding: 2px;
}
section{
    width: 50%;
    height: 470px;
    float: left;
    background-color: white;
}
img{
    padding: 3px;
    margin: 10px;
    border: 2px dashed slateblue;
}
a{
    color: white;
}
input[type="button"]{
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}
input[type="button"]:hover{
    background-color: indigo;
}
input[type="range"]{
    width: 80%;
}
footer{
    clear: both;
}
